# everywhere
__pycache__
*.zip

# models
*.rknn
*.onnx
!RK3588/rknpu2/model/yolov5s-640-640.rknn
!RK3588/rknpu2_python3/models/yolov5s-640-640.rknn
!RK3588/rknpu2_python3/models/yolov5m_leaky.rknn

# rknpu2
RK3588/rknpu2/run/
RK3588/rknpu2/build/
RK3588/rknpu2/model/*
!RK3588/rknpu2/model/coco_80_labels_list.txt
!RK3588/rknpu2/model/bus.jpg

# rknpu2_python3
RK3588/rknpu2_python3/*jpg
RK3588/rknpu2_python3/*.txt