body, button, #model_file{
  padding: 4px 8px;
  background-color: #000000;
  color: #FFFFFF;
  border: solid 1px;
  border-color: #000000;
}

label, button{
  display: inline-block;
  text-align: center;
  width: 100%;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.header {
  font-weight: bold;
}

th.header {
    padding: 10px;
    column-span: 4;
    text-align: center;
}

.control_buttons:hover, label:hover{
  background-color: #555555;
  color: #AAAAAA;
  border: solid 1px;
  border-color: #FFFFFF;
}
pre {
  overflow-x: hidden;
  overflow-y: auto;
}

#btn_settings_upload, #btn_model_upload{
  text-align: center;
}

video {
  width: 100%;
}

.option {
  margin-bottom: 8px;
}

#model_upload, #settings_upload{
  grid-template-columns: 1fr 1fr;
  display: grid;
}

#media{
  grid-template-rows: 1fr 1fr 1fr;
  display: grid inline-block;
}