body, button, #model_file, #select_local_model{
  padding: 4px 8px;
  background-color: #000000;
  color: #FFFFFF;
  border: solid 1px;
  border-color: #000000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  pointer-events: auto;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  outline: 0;
}

label, button{
  display: inline-block;
  text-align: center;
  width: 100%;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.header {
  font-weight: bold;
}

th.header {
    padding: 10px;
    column-span: 4;
    text-align: center;
}

.control_buttons:hover, label:hover, #select_local_model:hover{
  background-color: #555555;
  color: #AAAAAA;
  border: solid 1px;
  border-color: #FFFFFF;
}
pre {
  overflow-x: hidden;
  overflow-y: auto;
}

#btn_settings_upload,
#btn_new_model_upload,
#btn_local_model_upload,
#select_local_model{
  text-align: center;
}

video {
  width: 100%;
}

.option {
  margin-bottom: 8px;
}

#new_model_upload,
#local_model_upload,
#settings_upload{
  grid-template-columns: 1fr 1fr;
  display: grid;
}

#media{
  grid-template-rows: 1fr 1fr 1fr;
  display: grid inline-block;
}