# Base ----------------------
opencv-python>=4.2.0

# BYTEtrack -----------------
scipy>=1.4.1
lap>=0.4.0

# WebUI_aiortc --------------
av>=9.0.0
aiortc>=1.4.0
aiohttp>=3.8.0
Pillow>=9.0.0

# WebUI_flask ---------------
flask>=2.3.2
httpx>=0.24.1

# Telegram Notifier ---------
python-telegram-bot>=20.0

# Pulse counter -------------
scikit-learn>=1.3.0
matplotlib>=3.7.2
